:root {
  --bg-color: #00b184;
  --secondary-color: #f2f9f7;
  --text-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* Section 1 */
.hero {
  padding: 0 20px;
  height: 100vh;
  background: #f5f5f5;
  background-image: url("img/hero-bg-img.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  z-index: 1000;
}

.nav-link {
  margin: 0 15px;
}
.nav-link:hover {
  background: var(--bg-color);
  color: #fff !important;
}

.hero nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
}

.hero nav .menu ul {
  display: flex;
  list-style: none;
}
.button {
  background: var(--bg-color) !important;
  text-transform: uppercase;
  color: #fff !important;
}

/* Hero Content */
.hero-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
}

.hero-content .hero-content-container {
  display: flex;
  align-items: center;
}

.hero-content .hero-text {
  display: flex;
  flex-direction: column;
}

.hero-content .hero-text h1 {
  font-size: 38px;
  color: var(--text-color);
  margin-bottom: 20px;
  width: 100%;
  line-height: 1.2;
  font-weight: 700;
}

.hero-content .hero-text p {
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 50px;
  width: 90%;
  line-height: 1.5;
}

.hero-content .hero-text .hero-button .button {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: var(--bg-color);
  padding: 10px 50px;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: 600;
  margin-top: 20px;
}

.hero-content .hero-img {
  width: 100%;
  padding: 20px;
}

.hero-content .hero-img img {
  width: 100%;
}

/* Section 2: Services */
.services {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-image: url("img/sec2-bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.services .services-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services .services-text h1 {
  font-size: 3rem;
  color: var(--text-color);
  text-align: center;
  width: 90%;
  font-weight: 700;
  margin-bottom: 20px;
}

.services .services-text .aim {
  color: var(--text-color);
  font-size: 1.1rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.services .services-text p {
  color: var(--text-color);
  width: 60%;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
}

.services .services-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.services .services-btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  background: #fff;
  text-align: center;
  padding: 8px 50px;
  font-weight: 600;
  border-radius: 5px;
}

.services-offers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.services-offers .offers-card {
  width: 28%;
  height: 250px;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.services-offers .offers-card2 {
  width: 28%;
  height: 250px;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.services-offers .offers-card3 {
  width: 28%;
  height: 250px;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.services .services-offers .offers-card .offers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.services .services-offers .offers-card2 .offers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.services .services-offers .offers-card3 .offers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* offers content 1 */
.services .services-offers .offers-card .offers-content .icon img {
  width: 70px;
}
.services .services-offers .offers-card .offers-content .title h1 {
  font-weight: 600;
  font-size: 1.2rem;
}
.services .services-offers .offers-card .offers-content .description p {
  text-align: center;
  line-height: 2;
}

/* offers content 2 */
.services .services-offers .offers-card2 .offers-content .icon img {
  width: 50px;
}
.services .services-offers .offers-card2 .offers-content .title h1 {
  font-weight: 600;
  font-size: 1.2rem;
}
.services .services-offers .offers-card2 .offers-content .description p {
  text-align: center;
  line-height: 2;
}

/* offers content 3 */
.services .services-offers .offers-card3 .offers-content .icon img {
  width: 70px;
}
.services .services-offers .offers-card3 .offers-content .title h1 {
  font-weight: 600;
  font-size: 1.2rem;
}
.services .services-offers .offers-card3 .offers-content .description p {
  text-align: center;
  line-height: 2;
}

/* Section 2 End */

/* Section 3 */
.reasons {
  padding: 50px 20px;
  position: relative;
  background-image: url("img/sec3-bg-img.jpg");
  background-size: cover;
  background-position: center;
}

.reasons .reasons_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reasons .reasons_text h1 {
  font-size: 3rem;
  color: var(--text-color);
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.reasons .reasons_cards1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.reasons .reasons_cards2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  text-align: center;
  margin-top: 30px;
}

.reasons .reasons_cards1 .reasons_card {
  padding: 20px;
  border-radius: 20px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reasons .reasons_cards2 .reasons_card {
  padding: 20px;
  border-radius: 20px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.reasons .reasons-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reasons .reasons-btn a {
  text-decoration: none;
  padding: 10px 70px;
  background: var(--bg-color);
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
}

.footer {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}

.footer-content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  position: relative;
}

.footer-content1 .footer-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-content1 .footer-text p {
  color: var(--bg-color);
  font-weight: 600;
}

.footer-content1 .footer-text h1 {
  font-size: 2rem;
  width: 70%;
}

.footer-content1 .footer-text .footer-btn {
  display: flex;
  align-items: center;
}

.footer-content1 .footer-text a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bg-color);
  background: #f2f9f7;
  padding: 10px 30px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}

.footer-content1 .footer-text a i {
  font-size: 12px;
}

.footer-content2 {
  display: flex;
  gap: 100px;
  align-items: center;
  padding: 50px 0;
}

.footer-content2 .logo .brand-logo {
  width: 280px;
  margin-bottom: 20px;
}
.footer-content2 .logo .socmed {
  width: 100px;
  display: flex;
  gap: 20px;
}

.footer-content2 .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer-content2 .links .link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-content2 .links .link .title a {
  text-decoration: none;
  font-weight: 700;
  color: var(--text-color);
  font-size: 1.2rem;
}

.footer-content2 .links .link .title-links {
  display: flex;
  flex-direction: column;
}
.footer-content2 .links .link .title-links a {
  text-decoration: none;
  color: var(--text-color);
}

.footer .horizontal-line {
  width: 100%;
  height: 1px;
  background: #000;
}

.footer .footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 1.2rem;
}

/* Swiper */
.swiper-container {
  width: 100%;
  position: relative; /* Space for pagination */
  overflow: hidden;
  margin-top: 100px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-pagination {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--bg-color) !important; /* Change color */
}
/* Position prev button */
.swiper-button-prev {
  left: -10px; /* Adjust left position */
}

/* Position next button */
.swiper-button-next {
  right: -10px; /* Adjust right position */
}

/* Change pagination bullet color */
.swiper-pagination-bullet {
  background-color: #333 !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: var(--bg-color) !important;
  opacity: 1;
}

/* Hide navigation when screen is bigger than 1220px */
@media (min-width: 1220px) {
  .swiper-container {
    overflow: hidden;
    display: flex;
    gap: 20px;
  }
  .swiper-slide {
    flex: 1;
  }
  .swiper-pagination,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 1200px) {
  .nav-link {
    color: #000 !important;
  }

  .hero-text {
    text-align: center;
  }
  .hero-text .first-text {
    font-size: 32px !important;
    text-align: center;
  }
  .hero-text .second-text {
    font-size: 22px !important;
    width: 100% !important;
  }

  .hero-img {
    display: none;
  }

  /* Services */

  .services-text h1 {
    font-size: 32px !important;
    margin-top: 120px !important;
  }

  .services-text .description {
    font-size: 22px !important;
  }

  .services-offers .offers-card {
    width: 100%;
    margin-bottom: 20px;
  }
  .services-offers .offers-card2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .services-offers .offers-card3 {
    width: 100%;
    margin-bottom: 20px;
  }

  .reasons_card .reason-img img {
    width: 60px;
  }

  .reasons_text h1 {
    font-size: 32px !important;
  }

  .reasons .reasons-btn a {
    text-decoration: none;
    padding: 10px 60px;
    background: var(--bg-color);
    color: #fff;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .footer-content1 {
    flex-direction: column;
  }

  .footer-content1 .footer-logo img {
    width: 400px; /* Adjust width as needed */
    max-width: 100%; /* Makes it responsive */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfect centering */
    z-index: -2;
  }

  .footer-content2 {
    flex-direction: column;
  }

  .footer-content2 .links {
    gap: 20px;
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 768px) {
  .hero-text {
    text-align: center;
  }
  .hero-text .first-text {
    font-size: 28px !important;
    text-align: center;
  }
  .hero-text .second-text {
    font-size: 14px !important;
    width: 100% !important;
  }

  .hero-button a {
    display: flex;
    justify-content: center;
  }

  .hero-img {
    display: none;
  }

  /* Services */

  .services-text h1 {
    font-size: 24px !important;
    margin-top: 120px !important;
  }

  .services-text .description {
    font-size: 14px !important;
  }

  .services-offers .offers-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 40px;
  }
  .services-offers .offers-card2 {
    width: 100%;
    margin-bottom: 20px;
    padding: 40px;
  }
  .services-offers .offers-card3 {
    width: 100%;
    margin-bottom: 20px;
    padding: 40px;
  }
  .services .services-btn a {
    width: 100%;
  }
  .reasons_card .reason-img img {
    width: 60px;
    margin-bottom: 5px;
  }

  .reasons_card .reason-img img {
    width: 60px;
    margin-bottom: 5px;
  }
  .reasons_card p {
    font-size: 14px;
  }
  .reasons .reasons-btn a {
    width: 100%;
    text-align: center;
  }

  .reasons_text h1 {
    font-size: 24px !important;
  }

  .footer-content1 {
    flex-direction: column;
  }

  .footer-content1 .footer-logo img {
    width: 400px; /* Adjust width as needed */
    max-width: 100%; /* Makes it responsive */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfect centering */
    z-index: -2;
  }

  .footer-content2 {
    flex-direction: column;
  }

  .footer-content1 .footer-text p {
    font-size: 14px;
  }
  .footer-content1 .footer-text h1 {
    font-size: 24px;
    width: 100%;
  }

  .footer-content2 .links {
    gap: 20px;
    flex-direction: column;
    align-items: start;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 30px !important; /* Smaller arrow icons */
    content: "→"; /* Replace with your custom icon */
  }

  .swiper-button-prev::after {
    content: "←";
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 30px 20px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 16px !important; /* Make arrows even smaller */
    width: 25px !important;
    height: 25px !important;
  }

  .swiper-button-prev {
    left: 0; /* Adjust position */
  }

  .swiper-button-next {
    right: 0; /* Adjust position */
  }
}
